abook/src/main/resources/static/img/breserve/d1.jpg
abook/src/main/resources/static/img/breserve/f11.jpg
abookadmin/target/classes/static/img/bookregi/d1.jpg
abookadmin/target/classes/static/img/bookregi/f1.jpg
abookadmin/target/classes/static/img/bookregi/f11.jpg
