<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AdminMapper">

	<select id="list" resultType="com.example.demo.vo.AdminVo">
		select * from bookregi order by no desc limit #{start},10
	</select>
	
	<select id="addbookcode" resultType="String">
		select max(right(bookcode,3)) as num from bookregi where bookcode=#{bookcode}
	</select>
	
	<insert id="write_ok">
		insert into bookregi(bookname,publisher,writer,writetime,bookimg,bookea,bookcode,ect,bwriteday)
		values(#{bookname},#{publisher},#{writer},#{writetime},#{bookimg},#{bookea},#{bookcode},#{ect},now())
	</insert>
	
	<update id="bookcodeOk">
		update bookregi set bookname=#{bookname}
	</update>
	
	<select id="getChong" resultType="int">
		select ceil(count(*)/10) from bookregi
	</select>
	
	<update id="addbookea">
		update bookregi set bookea=bookea+1 where no=#{no}
	</update>
	
	<update id="delbookea">
		update bookregi set bookea=bookea-1 where no=#{no}
	</update>
	
	<select id="content" resultType="com.example.demo.vo.AdminVo">
		select * from bookregi where no=#{no}
	</select>
	
	<select id="getBcode" resultType="String">
		select ifnull(max(bookcode),'0') from bookregi 
	</select>
	
</mapper>