<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BookregiMapper">
	<insert id="write_ok">
		insert into bookregi(title,publi,writer,writeyear,bimg,bea,bcode,ect,writeday)
		values(#{title},#{publi},#{writer},#{writeyear},#{bimg},#{bea},#{bcode},#{ect},now())
	</insert>
	<select id="getCode" resultType="String">
		select ifnull(max(substring(bcode,2,3)),0)+1 from bookregi
	</select>
	<select id="getChong" resultType="int">
		select ceil( count( distinct left(bcode,4) )/10 ) from bookregi
	</select>
	<select id="list" resultType="com.example.demo.vo.BookregiVo">
		select * from bookregi group by substr(bcode,1,4) order by no desc limit #{start},10;
	</select>
	<select id="content" resultType="com.example.demo.vo.BookregiVo">
		select * from bookregi where bcode like concat(#{bcode},'%')
	</select>
</mapper>