<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BreserveMapper">
	<select id="list" resultType="com.example.demo.vo.BookregiVo">
		select * from bookregi group by substr(bcode,1,4) limit #{start},10;
	</select>
	<select id="getChong" resultType="int">
		select ceil(count(*)/10) from bookregi
	</select>
	<select id="content" resultType="com.example.demo.vo.BookregiVo">
		select * from bookregi where bcode like concat(#{bcode},'%')
	</select>
	<insert id="bresOk">
		insert into bookreserve(userid,bcode,state)
		values(#{userid},#{bcode},1)
	</insert>
	<update id="bresUpdate">
		update bookregi set state=1 where bcode=#{bcode}
	</update>
</mapper>